name: libNOM.io

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
  create:

jobs:
  test:
    name: Test
    strategy:
      matrix:
        # November, 2026 / May, 2026
        dotnet: [{framework: 'net8.0', version: '9.0.x'}, {framework: 'net9.0', version: '9.0.x'}] # set up 9.0 for all as there is an error when executing the tests on 8.0 otherwise (macos, ubuntu)
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet.version }}
          dotnet-quality: ga
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cache
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: ${{ runner.os }}-nuget-
      # TODO: Disabled until pipeline runs properly and LFS bandwidth is reset.
      # - name: Large File Storage (Create)
      #   run: git lfs ls-files --long | cut -d ' ' -f1 | sort > .lfs-assets-id
      # - name: Large File Storage (Cache)
      #   uses: actions/cache@v4
      #   with:
      #     path: .git/lfs/objects
      #     key: ${{ runner.os }}-lfs-${{ hashFiles('.lfs-assets-id') }}
      #     restore-keys: |
      #       ${{ runner.os }}-lfs-
      # - name: Large File Storage (Pull)
      #   run: git lfs pull
      - name: Secret Injector
        run: Get-ChildItem ./libNOM.test/Properties/ -File | ForEach-Object { (Get-Content $_.FullName) -Replace "{{ secrets.TESTSUITE_PASSWORD }}","${{ secrets.TESTSUITE_PASSWORD }}" | Set-Content $_.FullName }
        shell: pwsh
      - name: Unit Test
        run: dotnet test libNOM.test --framework ${{ matrix.dotnet.framework }}
  coverage:
    name: Coverage
    strategy:
      matrix:
        dotnet: [{framework: 'net9.0', version: '9.0.x'}]
        os: ['ubuntu-latest']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet.version }}
          dotnet-quality: ga
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cache
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: ${{ runner.os }}-nuget-
      - name: Unit Test
        run: dotnet test libNOM.test --framework ${{ matrix.dotnet.framework }} --settings coverage.runsettings
      - name: Upload (Artifact)
        uses: actions/upload-artifact@v5
        with:
          name: Coverage
          path: ./libNOM.test/TestResults/**/coverage.*
          if-no-files-found: error
      - name: Upload (Qlty)
        uses: qltysh/qlty-action/coverage@v2
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: ./libNOM.test/TestResults/**/coverage.cobertura.xml
          format: cobertura
          add-prefix: libNOM.io/
  build:
    name: Build
    strategy:
      matrix:
        dotnet: [{framework: 'net9.0', version: '9.0.x'}] # must match project file
        os: [{display: 'windows', name: 'windows', runtime: 'win-x64'}, {display: 'macos', name: 'macos', runtime: 'osx-x64'}, {display: 'linux', name: 'ubuntu', runtime: 'linux-x64'}]
    runs-on: ${{ matrix.os.name }}-latest
    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet.version }}
          dotnet-quality: ga
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cache
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: ${{ runner.os }}-nuget-
      - name: Secret Injector
        run: Get-ChildItem ./libNOM.io/Properties/ -File | ForEach-Object { (Get-Content $_.FullName) -Replace "{{ secrets.STEAM_API_KEY }}","${{ secrets.STEAM_API_KEY }}" | Set-Content $_.FullName }
        shell: pwsh
      - name: Pack
        if: ${{ matrix.os.name == 'macos' }} # only once
        run: dotnet pack libNOM.io --configuration Release
      - name: Publish
        run: dotnet publish libNOM.cli --configuration Release --framework ${{ matrix.dotnet.framework }} --runtime ${{ matrix.os.runtime }}
      - name: Publish (Apple Silicon)
        if: ${{ matrix.os.name == 'macos' }} # do this to have both native
        run: dotnet publish libNOM.cli --configuration Release --framework ${{ matrix.dotnet.framework }} --runtime osx-arm64
      - name: Upload (NuGet)
        if: ${{ matrix.os.name == 'macos' }} # only once
        uses: actions/upload-artifact@v5
        with:
          name: NuGet
          path: ./libNOM.io/bin/Release/libNOM.io.*nupkg
          if-no-files-found: error
      - name: Upload (Build)
        uses: actions/upload-artifact@v5
        with:
          name: Build (${{ matrix.os.display }})
          path: | # files not found are ignored
            ./libNOM.cli/bin/Release/${{ matrix.dotnet.framework }}/${{ matrix.os.runtime }}/publish/libNOM.io.cli
            ./libNOM.cli/bin/Release/${{ matrix.dotnet.framework }}/${{ matrix.os.runtime }}/publish/libNOM.io.cli.exe
            ./libNOM.cli/bin/Release/${{ matrix.dotnet.framework }}/osx-arm64/publish/libNOM.io.cli
          if-no-files-found: error
      - name: Upload (Release)
        if: ${{ matrix.os.name == 'macos' && startsWith(github.ref, 'refs/tags/') }} # only once and if tagged
        uses: actions/upload-artifact@v5
        with:
          name: Release
          path: ./.github/changelogs/${{ github.ref_name }}.md
          if-no-files-found: error
  release:
    name: Release
    if: ${{ startsWith(github.ref, 'refs/tags/') }} # only if tagged
    runs-on: ubuntu-latest
    needs: [test, build]
    steps:
      - name: Download
        uses: actions/download-artifact@v6
      - name: Version
        run: echo "nupkg_version=$((((Get-Item -Path ./NuGet/libNOM.io.*.nupkg).Name -split '\.',3)[2] -split '\.',-2)[0])" >> $env:GITHUB_ENV
        shell: pwsh
      - name: Mismatch
        if: ${{ github.ref_name != env.nupkg_version }}
        run: |
          echo "There is a version mismatch between git tag (${{ github.ref_name }}) and nupkg version (${{ env.nupkg_version }})!"
          exit 1
      - name: Rename
        run: |
          mv "./Build (windows)/win-x64/publish/libNOM.io.cli.exe" ./libNOM.io.cli.win-x64.exe
          mv "./Build (macos)/osx-arm64/publish/libNOM.io.cli" ./libNOM.io.cli.macos-arm64
          mv "./Build (macos)/osx-x64/publish/libNOM.io.cli" ./libNOM.io.cli.macos-x64
          mv "./Build (linux)/linux-x64/publish/libNOM.io.cli" ./libNOM.io.cli.linux-x64
      - name: Create
        uses: softprops/action-gh-release@v2
        with:
          body_path: ./Release/${{ github.ref_name }}.md
          files: |
            ./NuGet/libNOM.io.*nupkg
            ./libNOM.io.cli*
      - name: Publish
        run: dotnet nuget push ./NuGet/libNOM.io.*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }}
